<!-- templates/programming_languages/edit.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Programming Language</title>
</head>
<body>
    <h1>Edit Programming Language</h1>
    <form method="POST" action="{{ url_for('main.programming_language_controller.edit', language_id=language_id.id) }}">
        <label for="language_name">Language Name:</label>
        <input type="text" id="language_name" name="language_name" value="{{ programming_language.language_name }}" required>
        <button type="submit">Save Changes</button>
    </form>
    <a href="{{ url_for('main.programming_language_controller.index') }}">Back to Language List</a>
</body>
</html>
