<!-- templates/categories/edit.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
</head>
<body>
    <h1>Edit Category</h1>
    <form action="{{ url_for('main.category_controller.edit', category_id=category_id) }}" method="post">
        <label for="new_category_name">New Category Name:</label>
        <input type="text" id="new_category_name" name="new_category_name" required>
        <button type="submit">Save Changes</button>
    </form>
    <a href="{{ url_for('main.category_controller.index') }}">Back to Index</a>
</body>
</html>
